
.messageBox {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  /* min-height: 30px; */
  padding: 5px;
}

.chatListComp {
  background-color: rgb(228, 226, 226);
  position: fixed;
  right: 5px;
  bottom: 2px;
  height: 83vh;
  width: 300px;
  border-radius: 8px;
  /* margin-top: 50px; */
}
.chatbox{
  height: 39vh;
  margin : 5px 0px 5px;
  padding : 0px 0px ;
  display: block;
  justify-content: space-between;
  /* background-color: rgb(228, 226, 226); */
  background-color: rgb(246, 245, 245);
  overflow-y: scroll;
}
.chatcomp{
  height: 70vh;
  margin : 8px 0px 0px ;
  padding : 0px 5px ;
  display: block;
  justify-content: space-between;
  /* background-color: rgb(228, 226, 226); */
  /* background-color: rgb(246, 245, 245); */
  /* overflow-y: scroll; */
}


.chatInput {
  /* display: grid; */
  /* margin:0px 5px; */
  bottom: 0px;
  width: 100;
}

.closeBtn{
  padding: 0px 10px;
  cursor: pointer;
}

.messageList{
  margin:8px 0px 0px;
  height: 73.8vh;
  overflow-y: scroll;
  background-color: rgb(255, 255, 255);
}

