.topRow {
  background-color: #2b6777;
  height: 55px;
}

.CheckoutContainer {
  /* background-color: #2b6777; */
  min-height: 70vh;
  
}
.CheckoutBox {
  /* background-color: #2b6777; */
  width: 40em;
  margin: auto;
  background: #e2e2e2;
}
.fixedValue {
  /* background-color: #2b6777; */
  background: #ffffff;
  padding: 5px;
  border-radius: 5px;
  min-height: 30px;
}
