#searchDiv {
  background-color: #2b6777;
  padding-bottom: 40px;
  padding-top: 20px;
  /* margin-right: 0px; */
}
.searchInput {
  border-radius: 5px;
  width: 100%;
  border: 0;
  outline: none;
}

.searchButton {
  width: 30%;
  border-radius: 5px;
  background-color: #c8d8e4;
  font-weight: bold;
  border-color: #c8d8e4;
  color: #2b6777;
}

.categoryButtonsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(241, 241, 241);
}

.categoryButtons {
  border-radius: 5px;
  width: 14%;
  background-color: rgb(190, 187, 187);
  font-weight: bold;
  border-color: #c8d8e4;
  color: #2b6777;
}

.searchButton :hover {
  width: 30%;
  border-radius: 5px;
  background-color: #c8d8e4;
  font-weight: bold;
  border-color: #c8d8e4;
  color: #2b6777;
}
.projectDiv {
  min-height: 60vh;
}

.projectBox {
  border: inset 2px #2b6777;
  border-radius: 7px;
  padding: 5px !important;
  min-height: 180px;
  position: relative;
}

.projectLink {
  text-decoration: none;
  font-size: 18px;
}
.projectTitle {
  font-size: 18px;
  font-weight: bold;
  border: none !important;
  color: #2b6777;
}
.projectTitle :hover {
  border: none !important;
  font-size: 18px !important ;
  font-weight: bold !important ;
  color: #2b6777;
}
.text {
  font-size: 15px;
  font-weight: 500;
}

.sellerDiv {
  position: absolute;
  bottom: 5px;
}

.sellerImageDiv {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
}
.sellerImage {
  width: auto;
  height: 100%;
}
