body {
  /* background: rgb(206, 179, 179); */
  margin: 0;
  padding: 0;
  height: 100%;
  /* padding-bottom: 60px; */
}

#footer {
  background: #dce6ee;
  bottom: 0px;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerbox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footercolumns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerText {
  font-size: 19px;
  font-weight: 500;
  color: #2b6777;
  text-decoration: none;
}
.footerText li {
  padding-bottom: 12px;
}
