.searchSection {
  display: flex;
  justify-content: center;
  min-height: 80vh;
  background: #2b6777;
}
.searchContainer {
  transform: translate(0%, 25%);
  margin-left: 150px;
}
.searchContainer h2 {
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.searchContainer p {
  font-weight: 450;
  color: rgb(255, 255, 255);
}

#howItWorksSection {
  display: flex;
  align-items: center;
  min-height: 50vh;
  /* background: rgb(211, 206, 206); */
}
.homeButtonsSection {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.homeButtons {
  width: 30%;
  border-radius: 5px;
  background-color: #c8d8e4;
  font-size: 16px;
  font-weight: bold;
  border-color: #c8d8e4;
  color: #2b6777;
}
.homeButtons :hover {
  background-color: #2b6777 !important;
  width: 30%;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border-color: #c8d8e4;
  color: #c8d8e4;
}

.landingImage {
  background: url("../assets/images/world_1.jpg");
  background-size: cover;
  min-height: "100vh";
}

.howItWorksText {
  /* font-size: 18px; */
  font-weight: bold;
  color: #2b6777;
}
