.searchSection {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  min-height: 70vh;
  background: rgb(226, 226, 226);
}
.searchContainer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#howItWorksSection {
  display: flex;
  align-items: center;
  min-height: 45vh;
  /* background: rgb(211, 206, 206); */
}
.homeButtonsSection {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.homeButtons {
  width: 50%;
  border-radius: 20px;
  /* justify-content: center; */
}
