.navBar {
  /* height: 0px; */
  background: rgb(182, 181, 181);
}

.loginContainer {
  /* background: rgb(107, 105, 105); */
  background: url("../assets/images/login-background.jpg");
  background-size: cover;
  min-height: "100vh";
}
.loginBox {
  width: 400px;
  /* height: 800px; */
  /* top : 50%; */
  /* left : 50%; */
  transform: translate(-85%, -50%);
  position: absolute;
  background: url("../assets/images/login-background.jpg");
  /* background: #2b6777 ; */
  border: 1px inset #a3937a;
  border-radius: 5px;
  min-height: "100vh";
}
.loginBox div h4 {
  font-size: 35px;
  font-weight: bold;
  margin: 10px 10px;
  /* color: rgb(59, 59, 59); */
  color: rgb(77, 57, 20);
}

.loginformLabel {
  font-size: 18px;
  font-weight: bold;
  color: rgb(82, 61, 22);
}
.loginformtext {
  font-size: 15px;
  font-weight: 500;
  color: rgb(82, 61, 22);
}
.loginformlink {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none !important;
  color: rgb(122, 107, 80);
}
.loginButton {
  font-size: 20px;
  font-weight: bold;
  background-color: #2b6777 !important;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border-color: #2b6777  ;
  color: #c8d8e4;
}
.loginButton :hover {
  font-size: 20px;
  font-weight: bold;
  background-color: #2b6777 !important;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border-color: #2b6777 !important;
  color: #c8d8e4;
}
.loginInput {
  font-size: 18px;
  width: 100%;
  padding: 10px 10px;
  border: 0;
  outline: none;
  border-radius: 5px;
}
