.loginContainer {
  /* background: rgb(107, 105, 105); */
  /* background: url("../assets/images/login-background.jpg"); */
  /* background-size: cover; */
  min-height: 100vh;
}
.loginBox {
  width: 60vh;
  box-shadow: 6px 5px 5px 5px rgb(199, 193, 193);
  border-radius: 15px;
  min-height: 70vh;
}
.horLine {
  padding: 0px;
}
.loginBox div h4 {
  font-size: 35px;
  font-weight: bold;
  margin: 10px 10px;
  /* color: rgb(59, 59, 59); */
  color: rgb(77, 57, 20);
}


