.navDiv {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  padding: 10px 60px;
  display: flex;
  justify-content: space-between;
}
.navLinkDiv {
  display: flex;
  gap: 50px;
}
.navLink {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: flex-end;
  color: #416974;
}

.navLink a {
  text-decoration: none;
  color: #416974;
  font-size: 18px;
  padding: 21px 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
.navLink a:hover {
  transform: scale(1.02);
  font-weight: 300;
}
.navLink a.active {
  transform: scale(1.02);
  color: #52ab99;
  border-bottom: 3px solid #52ab99;
  font-weight: 500;
}
.menuRight {
  height: 80px;
  position: absolute;
  right: 0;
}

.dropdown-item:active {
  background-color: #e9ecef;
}

/**********NavBar*************/
#navbox {
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  padding: 0px 0px;
}
.navbar-brand {
  margin: 0px 50px 0px 0px;
}
.nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #2b6777;
  text-decoration: none;
  margin: 0px 5px 0px 50px;
  padding: 0px;
}

#basic-nav-dropdown :hover {
  text-decoration: none;
  font-weight: 500;
  color: #52ab98 !important;
}

#basic-navbar-nav > div.justify-content-end.navbar-nav > a:nth-child(3) > button {
  background-color: #52ab98;
  width: 80px;
  font-size: 15px;
  font-weight: bold;
  border: none;
}
#basic-navbar-nav > div.justify-content-end.navbar-nav > a:nth-child(3) > button :hover {
  background-color: #52ab98;
  width: 80px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  outline: none;

  border-color: #52ab98;
}
.loginBtn {
  margin-top: 2px;
  margin-left: 2rem;
  border-color: #52ab98;
  background-color: #52ab98;
  width: 6em;
  border: none;
  outline: none;
  font-family: "Poppins" sans-serif;
  font-weight: 700;
}
.loginBtn:hover {
  transform: scale(1.05);
  background-color: #52ab98;
}
