.postProjectSection {
  background-color: #2b6777;
  padding-bottom: 20px;
  padding-top: 20px;
  /* margin-right: 0px; */
}

.postProjectForm {
  /* background-color: rgb(255, 255, 255); */
  background: #e2e2e2;

  padding: 50px;
  border-radius: 10px;
}

.addpostfooterbtn-section button:nth-child(1n):hover {
  background: #e2e2e2;
}

.addposttext {
  padding-top: 8px;
  padding-left: 0px !important;
}
#selectimages {
  display: flex;
  justify-content: center;
  align-content: center;
}
#post-file {
  width: 0;
}
