#registerSection {
  display: flex;
  align-items: center;
  min-height: 70vh;

  background: rgb(226, 226, 226);
}
.registerSection {
  display: flex;
  justify-content: center;
}
.registerSection button {
  width: 50%;
  border-radius: 30px;
}
.howItWorksSection {
  display: flex;
  justify-content: center;
}
.howItWorksCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.howItWorksBox {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

#howItWorksSection {
  display: flex;
  /* justify-content: center; */
}
