.topRow {
  background-color: #2b6777;
  height: 55px;
}
.checkoutContainer {
  min-height: 70vh;
  margin-bottom: 24px;
  overflow-x: auto;
}
.checkout {
  display: flex;
  justify-content: space-between;
}
.projectCheckout {
  width: 70%;
  border-right: 1px solid rgb(212, 212, 212);
  box-shadow: 0px 5px 5px 5px #c3d2ce;
  border: 1px solid rgb(222, 222, 222);
}
.projectSummary {
  padding: 24px;
  width: 30%;
}
.detailtopRow {
  background-color: #ffffff;
  padding: 24px;
}
.paymentDiv {
  box-shadow: 0px 5px 5px 5px #c3d2ce;
  border: 1px solid rgb(222, 222, 222);
  /* background-color: #2b6777; */
  width: 40em;
  padding: 24px;
  background: #ffffff;
}
.projectCheckoutTitle {
  font-family: "Poppins", sans-serif;
  margin: 16px 0px;
  font-size: 24px;
  font-weight: 600;
}
.projectTitle {
  font-family: "Poppins", sans-serif;
  margin: 16px 0px;
}
.checkoutBtn {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  border: none;
  background-color: #2b6777;
}
.checkoutBtn:hover {
  transform: scale(1.05);
  background-color: #2b6777;
}
.formLabel {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.fixedValue {
  background: #ffffff;
  padding: 16px;
  border-radius: 5px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

