.alert {
  margin-top: 30px;
  position: absolute;
  top: 0;
  font-family: "Poppins" sans-serif;
  font-weight: bolder;
  font-size: 18px;
  padding: 0px;
}
.closeAlert {
  display: flex;
  justify-content: end;
  cursor: pointer;
  margin-bottom: 10px;
}
.closeAlert:hover {
  transform: scale(1.04);
}
.registerDiv {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.loginContainer {
  display: flex;
  width: 65%;
  box-shadow: 0px 5px 5px 5px rgb(232, 232, 232);
  border-radius: 15px;
}
.imageContainer {
  width: 60%;
  background-color: #2b6777;
  background-image: linear-gradient(323deg, #2b6777 0%, #689c91 50%, #c5e1e8 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0px 0px 15px;
}
.imageDiv {
  width: 100%;
}
.imageDivtext {
  color: white;
  font-family: "Poppins" sans-serif;
  font-weight: bolder;
  font-size: 48px;
  margin: 24px;
  justify-content: center;
  align-items: center;
}

.loginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  /* border-radius: 15px; */
  min-height: 70vh;
  /* padding: 10px 20px 7px; */
}

.title {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
  padding-top: 10px;
  font-family: "Poppins" sans-serif;
  font-weight: bolder;
  font-size: 5vmin;
}
.formDiv {
  width: 100%;
  margin: 0px 20px 30px;
  padding: 0px 10px;
}

.postInput {
  margin-bottom: 24px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 25px;
  padding: 12px;
}

.loginButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #52ab99;
  width: 35%;
  font-size: 1.8vmin;
  border-radius: 45px;
  border: none;
  color: #fcfcfc;
  font-family: "Poppins" sans-serif;
  font-weight: 700;
  outline: none;
}
.loginButton:hover {
  background-color: #52ab99 !important;
  transform: scale(1.05);
}
.loginButton:focus {
  background-color: #52ab99 !important;
  outline: none;
}

.loginformLabel {
  font-size: 18px;
  font-weight: bold;
  color: rgb(82, 61, 22);
}
.loginformtext {
  font-size: 1vmax;
  font-weight: 500;
  color: rgb(49, 49, 49);
  cursor: pointer;
}

.loginformlink {
  font-family: "Poppins" sans-serif;
  font-size: 1vmax;
  font-weight: 500;
  text-decoration: none !important;
  color: rgb(49, 49, 49) !important;
  cursor: pointer;
}
.loginformCheck {
  font-family: "Poppins" sans-serif;
  font-size: 1vmax;
  font-weight: 500;
  text-decoration: none !important;
  border-color: #52ab99 !important;
  outline: none;
  cursor: pointer;
}
.loginformCheck:checked {
  outline: none !important;
}
.newAcc {
  font-family: "Poppins" sans-serif;
  font-size: 1vmax;
  font-weight: 500;
  color: #aba952;
  padding: 0px 4px;
  cursor: pointer;
}
.newAcc:hover {
  text-decoration: underline;
  transform: scale(1.05);
}
.loginformlink:hover {
  text-decoration: none !important;
  color: rgb(49, 49, 49);
}

/* Mobile device  */

@media only screen and (max-width: 950px) {
  .loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    box-shadow: 0px 5px 5px 5px rgb(232, 232, 232);
    border-radius: 15px;
  }

  .imageContainer {
    display: none;
  }
  .loginBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* border-radius: 15px; */
    min-height: 70vh;
    /* padding: 10px 20px 7px; */
  }
}
