.topRow {
  background-color: #2b6777;
  height: 50px;
  /* position: fixed;
  margin-bottom: 500px; */
}

.profilePage {
  /* background-color: #c8d8e4; */

  background-color: #ffffff;
}

.projectTitle {
  border: solid 2px rgb(218, 218, 218);
  border-radius: 15px;
  /* background-color: #c8d8e4; */
}
.profileColumn {
  /* border: solid 1px rgb(218, 218, 218); */
  border-radius: 5px;
  width: 100%;
  /* background-color: #dee4e9; */
  background-color: #e4e4e4;
}

.profileCards {
  border: none;
  /* background-color: #dee4e9; */
  background-color: #e4e4e4;

  padding: 0% !important;
}

.profileImageDiv {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.profileImage {
  width: auto;
  height: 100%;
}

.editButton {
  font-size: 20px;
  font-weight: bold;
  background-color: #2b6777 !important;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border-color: #2b6777;
  color: #c8d8e4;
}
.editButton :hover {
  font-size: 20px;
  font-weight: bold;
  background-color: #2b6777 !important;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border-color: #2b6777 !important;
  color: #c8d8e4;
}

.projectLink {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #2b6777;
}
.projectLink :hover {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #2b6777;
  background-color: #c7d4df !important;
  color: #52ab98 !important;
  cursor: pointer;
}

.chatButton {
  font-size: 20px;
  background-color: #2b6777 !important;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border-color: #2b6777 !important;
  color: #c8d8e4;
  position: fixed;
  z-index: 10;
  right: 50px;
  bottom: 20px;
  width: 150px;
  border: 0.5px inset #2b6777;
}

.tabs :hover {
  /* background-color: #c0d4e2 !important; */
  color: #52ab98 !important;
  cursor: pointer;
}

.skills{
  
  /* margin: 8px ; */
 
  display: flex;
  /* justify-content: center; */
}
.skills div{
  border: 1px solid rgb(194, 194, 194);
  border-radius: 50px;
  background-color: rgb(194, 194, 194);
  margin: 8px 6px;
  padding: 0px 6px;
  display: flex;
  justify-content: center;
}

.eachReview{
  display: block;
  justify-content: center;
  margin: 12px 5px 5px;
  padding: 5px 5px ;
  background-color:rgb(239, 239, 239) ;
  font-size: .8rem;
}
