.topRow {
  background-color: rgb(236, 236, 236);
  height: 80px;
}

.messagesDiv {
  min-height: calc(100vh - 71px - 99px);
  background-color: #2b6777;
  /* background-image: url("https://res.cloudinary.com/dvyids286/image/upload/v1658951433/CapstoneProjects/gsaqn9i2xf5dijl6dvxk.jpg"); */
  background-size: cover;
  border-radius: 0px;
  padding: 80px 0px;
}
.messagesRow {
  display: flex;
  margin: 0px 100px;
}

/*****************ChatList******************/

.chatRooms {
  background-color: #ffffff;
  width: 150px;
  height: calc(100vh - 71px - 160px - 99px);
  border-right: 0.5px solid rgb(235, 235, 235);
  flex-grow: 1;
  padding: 0px 0px;
}

.chatRoomsTitle {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 24px;
  font-weight: 600;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 800px;
  color: #2b6777;
}
.dividerRow {
  padding: 0px 16px;
  background-color: #c5e1e8;
  height: 40px;
}
.messageList {
  overflow-y: auto;
  height: calc(100vh - 71px - 160px - 99px - 65px);
  /* background-color: rgb(187, 21, 21); */
}
.chatList {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px;
  border-bottom: 0.2px solid rgb(235, 235, 235);
  cursor: pointer;
}
.chatList:hover {
  background-color: rgb(236, 236, 236);
}
.chatDiv {
  display: flex;
  gap: 0.8rem;
}
.imageDiv {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border-radius: 50%;
  margin-top: 4px;
}
.image {
  width: auto;
  height: 100%;
}
.messageOwner {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(44, 44, 44);
}
.time {
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  display: flex;
  justify-content: center;
  color: rgb(44, 44, 44);
}
.lastMessage {
  padding-top: 3px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(44, 44, 44);
}
.newMsg { 
  height: 50%;
  width: 50%;
  padding-top: 3px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  background-color: #52ab998d;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

/*****************ChatBox******************/
.chats {
  background-color: #ffffff;
  position: relative;
  width: 500px;
  flex-grow: 2;
  padding: 0% !important;
}
/*  */
/*  */
/*  */
/*  */

.chatBox {
  /* padding: 10px 0px 10px; */
  height: calc(100vh - 71px - 160px - 99px - 65px - 60px);
  /* height: 597px; */
  /* position: relative; */
  /* overflow-y: auto; */
  background-color: rgb(243, 243, 243);
  /* border: 0.01px solid rgb(208, 23, 23); */
}
.noList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(243, 243, 243);
}

.noListText {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #52ab99;
  font-size: 24px;
  height: 100%;
  /* background-color: rgb(243, 243, 243); */
  font-family: "Poppins", sans-serif;
  font-weight: 800px;
}

/* .chatMessages {
} */
.chatForm {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 12px 8px;
}
.chatInput {
  width: 100%;
  padding: 5px 8px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgb(237, 237, 237);
}
.sendButton {
  font-size: 22px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
}
.chatBoxComp {
  background-color: #f2f2f2;
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 2px;
  height: 50vh;
  width: 350px;
  border: 0.5px solid #dcdbdb;
  border-radius: 5px;
}
.chatButton {
  position: fixed;
  background-color: #52ab99;
  /* background-color: #52ab99; */
  outline: none;
  border: none;
  right: 25px;
  bottom: 50px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  padding: 12px;
  min-width: 12%;
}
.chatButton:hover {
  background-color: #52ab99;

  transform: scale(1.05);
}

.closeBtn {
  cursor: pointer;
}
/* .chatcomp {
  overflow-y: auto;
  border: 0.01px solid rgb(208, 23, 23);
  height: calc(100vh - 71px - 160px - 99px - 100px);

  margin: 8px 0px 0px;
  padding: 0px 5px 0px;
  display: block;
  justify-content: space-between;
  overflow-y: auto;
  background-color: rgb(233, 233, 233);
  background-color: #c5e1e8;
} */
